<div class="about-info">
	<p class="about-paragraph">
		I am a 23 year old student at the University of Minnesota.  I am studying Computer Science with an emphasis on Artificial Intelligence (Big Data).  I like creating programs to find relationships and meaning in large sets of data as well as creating unique user interfaces for applications and websites.
	</p>
	<p class="about-paragraph">
		I love sports, both playing and watching.  I will watch almost any sport, although my favorites are basketball, football, and tennis.  I am from Chicago area, so I love the Chicago Bulls.  Unfortunately my parents influenced me to like the Minnesota Vikings, so I have a less fortunate situation as a football fan.  I played almost every sport as I grew up, but focused on tennis.  I no longer play regularly, but I try to keep active by playing basketball with friends.
	</p>
	<p class="about-paragraph">
		If I'm not working or playing sports, I'm always listening to music.  I love attending concerts and discovering new music to share with friends.  At the moment, my favorite genre of music is electronic, although it changes practically every season.  I am interested in creating software to help everyone discover new music.
	</p>
	<p class="about-paragraph">
		In the future, I hope to move to a warmer place (I can't stand these Minnesota winters anymore) where I can work at a very progressive company.  I have always had an enormous desire to succeed, so I hope that someday I can help create something that changes the way people experience the world.
	</p>
	<p class="about-paragraph">
		Want to know more?  <a class="email-me" href="mailto:roos.austin@gmail.com?Subject:Get%20to%20know%20Austin%20C.%20Roos">just ask</a>
	</p>
</div>