<form action="/add-job" method="post">
	<p class="input-title">Company Name:</p>
	<input type="text" name="company_name">
	<p class="input-title">Order:</p>
	<input type="text" name="order">
	<p class="input-title">Title:</p>
	<input type="text" name="title">
	<p class="input-title">Start Date:</p>
	<input type="text" name="start_date">
	<p class="input-title">End Date:</p>
	<input type="text" name="end_date">
	<p class="input-title">Description</p>
	<textarea name="description" placeholder="Add job description&hellip;"></textarea>
	<p class="input-title">Password:</p>
	<input type="password" name="password">
	<input class="submit-button" type="submit">
</form>