<div class="container">
<form action="/add-project" method="post">
	Name: <input type="text" name="name"><br>
	Description: <input type="text" name="description"><br>
	Project Content: <textarea name="content" placeholder="Add project&hellip;"></textarea><br>
	Password: <input type="password" name="password"><br>
	<input type="submit">
</form>
</div>