<div class="container">
<form action="/add-job" method="post">
	Company name: <input type="text" name="company_name" width="400px"><br>
	Job Title:    <input type="text" name="job_title"><br>
	Description: <textarea name="desc" placeholder="Job Description&hellip;"></textarea><br>
	Start Date: <input type="text" name="start_date"><br>
	End Date: <input type="text" name="end_date"><br>
	Password: <input type="password" name="password"><br>
	<input type="submit">
</form>
</div>