<!doctype html>
<html lang="en">
<head>
	<meta charset="utf8">
	<title><%= "#{@title} | #{SITE_TITLE}" %></title>
	<link rel="icon" type="image/png" href="/img/icon.png">
	<link href="/reset.css" rel="stylesheet">
	<link href="/style.css" rel="stylesheet">
</head>
<body id=<%= "#{@label}" %> >
	<div id="navbar">
		<ul class="nav">
			<li class="navfirst"><a id="homenav" href="/">Home</a></li>
			<li class="nav"><a id="worknav" href="/work">Work</a></li>
			<li class="nav"><a id="schoolnav" href="/school">School</a></li>
			<li class="nav"><a id="projectnav" href="/projects">Projects</a></li>
			<li class="nav"><a id="contactnav" href="/contact">Contact</a></li>
		</ul>
	</div>
	<%= yield %>
</body>
</html>
